/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Estilos de encabezado */
header {
    background-color: #07191f;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Estilos de contenido principal */
#main-content {
    padding: 20px;
}

/* Estilos de secciones */
section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
}

/* Estilos de encabezados de sección */
section h2 {
    color: #07191f;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos de listas dentro de secciones */
section ul {
    list-style: disc;
    padding-left: 20px;
}

section ul li {
    margin: 5px 0;
}

/* Estilos de enlaces dentro de secciones */
section a {
    color: #007acc;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos de pie de página */
footer {
    background-color: #07191f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
